<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body, #map-canvas { height: 400px; width: 600px; margin-left: 100px; padding: 0; }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhoAM9l_WcD3Y_fStvMX_ZTpRokLa-Y9o">
    </script>
    <script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script> 
  </head>
  <h1>Film Finder<h1>
  <body>
    <div id="map-canvas"></div>
    <input id="search-film-keyword" type="text" placeholder="find a film" name="film">
    <button class="btn btn-submit" type="submit"/>
    <div class = "button list">
      <button class="all movies">All Movies</butotn>
    </div>
  </body>
</html>